.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.btn1 {
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
.heading {
  padding: 3rem;
  background-color: rgb(61, 110, 245);
}
.heading h2 {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.content {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
